/* Typography */

h1, h2 {
    font-family: 'Yeseva One', cursive;
    color: #80b1b3;
}

p, a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
}

/* Layout */



/* Media */