/* Typography */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
}

h1, h2, h3 {
    font-family: 'Yeseva One', cursive;
    color: #80b1b3;
}



/* Layout */



/* Media */